<odoo>
    <data>
        <!-- Top Menu Item -->
        <menuitem name="ISCAPOP" id="iscapop.menu_root" web_icon="iscapop,static/description/icon.png"/>

        <!-- Menu Category -->
        <menuitem name="Categories" id="iscapop.menu_category" parent="iscapop.menu_root"/>

        <!-- Menu Item -->
        <menuitem name="Items" id="iscapop.menu_item" parent="iscapop.menu_root"/>

        <!-- Menu Location -->
        <menuitem name="Locations" id="iscapop.menu_location" parent="iscapop.menu_root"/>

        <!-- Menu Donation -->
        <menuitem name="Donations" id="iscapop.menu_donation" parent="iscapop.menu_root"/>


        <!-- Action Category -->
        <menuitem name="Category List" id="iscapop.category_list" parent="iscapop.menu_category" action="iscapop.action_window_category_list"/>

        <!-- Action Item -->
        <menuitem name="Item List" id="iscapop.item_list" parent="iscapop.menu_item" action="iscapop.action_window_item_list"/>

        <!-- Action Add Item -->
        <menuitem name="Item Add" id="iscapop.item_add" parent="iscapop.menu_item" action="iscapop.action_window_item_add"/>

        <!-- Action Location -->
        <menuitem name="Location List" id="iscapop.location_list" parent="iscapop.menu_location" action="iscapop.action_window_location_list"/>

        <!-- Action Donation -->
        <menuitem name="My Donations" id="iscapop.my_donations_list" parent="iscapop.menu_donation" action="iscapop.action_window_my_donations_list"/>
        <menuitem name="Public Donations" id="iscapop.public_donations_list" parent="iscapop.menu_donation" action="iscapop.action_window_public_donations_list"/>

        <!-- Search Item -->
        <record model="ir.ui.view" id="iscapop.item_model_search">
            <field name="name">Item Filters</field>
            <field name="model">iscapop.item_model</field>
            <field name="arch" type="xml">
                <search string="Item Filter">
                    <group string="Condition">
                        <filter string="New Condition" name="new" domain="[('condition', '=', 'new')]"/>
                        <filter string="Good Condition" name="good" domain="[('condition', '=', 'good')]"/>
                        <filter string="Fair Condition" name="fair" domain="[('condition', '=', 'fair')]"/>
                        <filter string="Poor Condition" name="poor" domain="[('condition', '=', 'poor')]"/>
                        <filter string="Retired Condition" name="retired" domain="[('condition', '=', 'retired')]"/>
                    </group>
                    <filter string="History Retired Items" name="history" domain="[('active', '=', False)]"/>
                    <group expand="0" string="Group By">
                        <filter string="Category" name="category" context="{'group_by': 'category_id'}"/>
                        <filter string="Condition" name="condition" context="{'group_by': 'condition'}"/>
                        <filter string="Name" name="name" context="{'group_by': 'name'}"/>
                    </group>
                </search>
            </field>
        </record>

        <!-- Search Location -->
        <record model="ir.ui.view" id="iscapop.location_model_search">
            <field name="name">Location Filters</field>
            <field name="model">iscapop.location_model</field>
            <field name="arch" type="xml">
                <search string="Location Filter">
                    <group expand="0" string="Group By">
                        <filter string="Type" name="type" context="{'group_by': 'type'}"/>
                    </group>
                </search>
            </field>
        </record>

        <!-- Search Donation -->
        <record model="ir.ui.view" id="iscapop.donation_model_search">
            <field name="name">Donation Filters</field>
            <field name="model">iscapop.donation_model</field>
            <field name="arch" type="xml">
                <search string="Donation Filter">
                    <filter string="Unreserved" name="unassigned" domain="[('reserved', '=', False)]"/>
                    <filter string="Reserved" name="assigned" domain="[('reserved', '=', True),('receiver', '=', uid)]"/>
                    <group expand="0" string="Group By">
                        <filter string="Receiver" name="reserved" context="{'group_by': 'receiver'}"/>
                    </group>
                </search>
            </field>
        </record>
    </data>
</odoo>